@import url("https://use.typekit.net/nvx0frj.css");

/* fonts */
:root {
    --body-font-font-family: "adobe-caslon-pro", 'Times', serif;
    --body-font-font-weight: 400;
    --body-font-font-style: normal;
    font-variant-ligatures: none;
}

/* gallery rebuild */

.gallery-grid-item:not([data-show]) .gallery-grid-item-wrapper {
    opacity: 1 !important;
}

.gallery-grid-wrapper {
    display: flex !important;
    flex-wrap: wrap;
    gap: 40px;
}
.gallery-grid-wrapper .gallery-grid-item {
    width: calc(50% - 20px);
    flex: calc(50% - 20px);
}
.gallery-grid[data-columns="3"] .gallery-grid-wrapper .gallery-grid-item {
    width: calc(33.33% - 30px);
    flex: calc(33.33% - 30px);
}

@media (max-width: 767px) {
    .gallery-grid[data-width="full"] {
        padding: 3vw; /*overwrite*/
    }
}

@media (max-width: 520px) {
    .gallery-grid-wrapper .gallery-grid-item,
    .gallery-grid[data-columns="3"] .gallery-grid-wrapper .gallery-grid-item {
        width: 100%;
        flex: 100%;
    }
}

/* extras */

.header-burger {
    display: none; /*no mobile menu needed*/
}

.footer-section.page-section:not(.full-bleed-section) > .content-wrapper {
    padding-left: 0;
    padding-right: 0;
}
.footer-section.page-section:not(.full-bleed-section) .sqs-layout > .sqs-row {
    margin-left: 0;
    margin-right: 0;
}
.footer-section.page-section .row {
    display: flex;
    justify-content: space-between;
}
.footer-section.page-section .row .col.col-1 {
    width: 100%;
}
.footer-section.page-section .row .col.col-2 {
    width: 50%;
}

.footer-logo {
    max-width: 100px;
    width: 100%;
}
.align-right {
    text-align: right;
}